<!DOCTYPE html>  
<html>  
<head> 
    <link rel="stylesheet" href="./css/styles.css"> 
    <title>Help page</title>  
    <link rel="icon" href="/img/weather.png">
</head>  
<body> 
    <div class="main-content">
        {{>header}} 
        <p>{{helpText}}</p> 
        <p>This is a weather application</p>
    </div>
    {{>footer}} 
</body>  
</html>  