body {
    color: #0a1553;
    background: linear-gradient(to bottom, #33ccff 0%, #ffffff 100%);
    font-family: arial;
    max-width: 650px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 16px;

    /*alloqw flexbox*/
    display: flex;
    flex-direction: column;
}

.main-content {
    /*allows an elem to grow --> take as much space as it needs*/
    flex-grow: 1;
}

footer {
    color: #180349;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

/*customize links just for header*/
header a {
    color: #888888;
    margin-right: 16px;
    /*remove underline from links*/
    text-decoration: none;
}

/*to not change all images - just the one from about*/
.portrait {
    width: 250px;
}

input {
    border: 1px solid #190086;
    padding: 8px;
}

/*button style*/
button {
    border-radius: 29px;
    background: #bfa2dd;
    box-shadow:  26px 26px 51px #917ba8,
                 -26px -26px 51px #edc9ff;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    background: rgba( 206, 146, 238, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    border: 0px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
  }
  
   button:hover{
    background: linear-gradient(to bottom, #ccccff 0%, #00ffff 100%);
  }
  
   button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }